<div class="container">
<mat-toolbar color="primary" class="toolbar">
    <button (click)="sideNav.toggle()" mat-icon-button >
        <mat-icon>menu</mat-icon></button>
    <mat-icon-avatar></mat-icon-avatar>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
    <mat-sidenav class="sidenav" #sideNav mode="push" opened="false">
    <div class="navbar-header">
        <div class="logo">
          <img class="logo-icon" src="">
          <span class="logo-text">Stock Share</span>
        </div>
    </div>
    <div>
      <button mat-button color="primary">
      <mat-icon>stars</mat-icon>
      Leader Dashboard</button>
    </div>
    <div>
      <button mat-button color="primary">
          <mat-icon>attach_money</mat-icon>
          Give Points</button>
    </div>
    <div>
        <button mat-button color="primary">
            <mat-icon>history</mat-icon>
            My History</button>
      </div>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
      <div>
        main content goes here
      </div>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>