.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .container .toolbar {
    display: flex;
    justify-content: space-between;
  }

  .container .toolbar .user{
      width: 100px;
  }

  .ss-fix-header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

 .sidenav-container {
    flex: 1 0 auto;
    margin-top: 56px;
  }

  .sidenav-content{
      padding: 1rem;
  }

  .sidenav{
      position: fixed;
      top: 56px;
  }

  .sidenav .mat-button{
      width: 100%;
      text-align: left;
  }

  .navbar-header .logo{
      padding: 10px;
  }
  .navbar-header .logo .logo-text {
    margin-left: 8px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .4px;
}

