<h1 class="ss-headline">
  Add Stock
</h1>
<mat-card fullscreen>
  <mat-card-content>
    <form>
		<mat-form-field class="ss-full-width">
			<input name="name" [(ngModel)]="name" matInput placeholder="Name">
		</mat-form-field>
		<mat-form-field class="ss-full-width">
			<textarea name="description" matInput placeholder="Describe achievements"  [(ngModel)]="description"></textarea>
		</mat-form-field>
		<mat-form-field>
			<input name="score" type="number" matInput placeholder="Score" [(ngModel)]="score">
		</mat-form-field>
		<div class="form-group">
			<!-- <mat-form-field>
				<input readonly="readonly" [(ngModel)]="visibleImageName" name="image" matInput placeholder="Image Name">
			</mat-form-field>			 -->
			
			<!-- <input name="browseImage" id="browserImage" class="ss-hidden" type="file" (change)="updateImageName()" 
			accept="image/x-png,image/gif,image/jpeg">			 -->
			<button mat-raised-button color="primary" (click)="triggerBrowse()">click pick with your mate</button>
		</div>
		<button class="ss-full-width ss-mb-1" mat-raised-button color="primary" (click)="resetStock()">Reset</button>
		<button type="submit" (click)="addStock()" class="ss-full-width" mat-raised-button color="primary">Add</button>
    </form>
  </mat-card-content>
</mat-card>