.ss-full-width{
    width: 100%;
}

.ss-hidden{
    display: none!important;
    visibility: hidden!important;
}

.ss-floatRight{
    float: right;
}

.ss-mb-1 {
    margin-bottom: 1rem;
}

.ss-headline{
    text-align: center;
    margin: 0.5rem 0 1.5rem;
  }